.place__website-link {
  margin: 0;
  font-weight: 400px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #FFFFFF;
  text-align: left;
}

.place__website-link:hover {
  opacity: 0.8;
}