.intro {
  max-width: 690px; /*ширина макета 690px*/
  margin: 0 auto;
  padding: 92px 400px 0 190px; /*левый отступ 190, правый 400*/
}

@media screen and (max-width: 1200px) {
  .intro {
    padding: 92px 286px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    padding: 64px 16px 0 16px;
  }
}
